<div class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <%= replace_hashtags_with_links(question.text) %>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead">
        <%= replace_hashtags_with_links(question.answer) %>
      </div>
    <% end %>

    <div class="question-info">
      <%= author(question).html_safe %>
    </div>

    <div class="question-info">
      <%= question_time(question) %>
    </div>
  </div>

  <% if question.user == current_user %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>
    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: { confirm: t('are_you_sure') }%>
    </div>
  <% end %>
</div>
